@font-face {
  font-family: "BMEuljiro10yearslater";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/BMEuljiro10yearslater.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-bg-color: #23346f;
  --primary: #d5ba5e;
  --letter-font-color: #322926;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: "MaruBuriSemiBold", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

button {
  color: black;
  cursor: pointer;
}

body {
  background: url("https://realworld.blob.core.windows.net/project-files/u4czzO3QWwtfaj06xZeGHw/WBxxRVRJ30O5nmlshVjqkA-%EB%B3%84%EC%9E%90%EB%A6%AC%EA%B3%84%EC%82%B0%EA%B8%B0_%EB%B0%B0%EA%B2%BD.png")
    no-repeat center/cover;
  min-height: 100vh;
  overflow: scroll;
}

#app {
  width: 100vw;
  min-height: 100vh;
  max-width: 400px;
  margin: auto;
  padding: 30px 10px;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  overflow: scroll;
}

header,
main,
footer {
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  color: var(--primary);
}

.title {
  font-family: "MaruBuriBold";
}

.description {
  font-size: 1rem;
}

.modal-button-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.transparent-button {
  background-color: transparent;
  border: none;
}

.modal-button {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  color: var(--primary);
}

.modal-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.star-sign-button {
  left: 25px;
}

.clue-button {
  right: 25px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-backdrop,
.modal-backdrop-style {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: #00000080;
}

.modal-content {
  position: relative;

  width: 90vw;
  max-width: 360px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  text-decoration: underline;
  font-size: 1rem;
  color: var(--primary);
}

.star-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.star-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.puzzle-board {
  position: relative;

  width: 80%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  border: 2px solid white;

  background-color: #ffffff33;
}

.hint-content .puzzle-board {
  width: 100%;
  background-color: #00000080;
}

.puzzle-slot {
  position: relative;

  width: 100%;
  aspect-ratio: 1/1;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid white;
}

.controller {
  width: 100%;
  padding: 10px 0;

  border: none;
  border-radius: 20px;
  background-color: var(--primary);

  font-weight: 600;
}

.controller:disabled {
  color: #000000;
  background-color: #cccccc;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.puzzle-piece-container {
  margin: 20px auto;

  display: flex;
  flex-wrap: wrap;
}

.puzzle-container-slot {
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 auto;

  border: none;

  background: radial-gradient(
    36.5% 36.5% at 50% 50%,
    rgba(255, 255, 255, 0.39) 0%,
    rgba(217, 217, 217, 0) 100%
  );
}

.puzzle-piece {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;

  cursor: move;
  width: 80px;
  height: 80px;
}

.puzzle-piece-static {
  width: 80px;
  height: 80px;
}

.puzzle-board .puzzle-piece {
  position: relative;
}

.dragged {
  opacity: 0.5;
}

.result-content,
.hint-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.star-menu-content,
.result-content {
  background: url("https://realworld.blob.core.windows.net/project-files/u4czzO3QWwtfaj06xZeGHw/5R3DdhCO5AJ6Ukx09a_QJg-%EB%8F%84%EA%B0%90%EB%B0%B0%EA%B2%BD.png")
    no-repeat center/cover;

  width: 90vw;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}

.hint-content {
  position: relative;
  background: url("https://realworld.blob.core.windows.net/project-files/u4czzO3QWwtfaj06xZeGHw/HERiEMHy0f3juy37TUfnoQ-%ED%8E%B8%EC%A7%80%EC%A7%80.png")
    no-repeat center;
  font-family: "BMEuljiro10yearslater";
  color: var(--letter-font-color);
  padding: 1.5rem;
}

.hint-content .modal-close-button {
  color: var(--letter-font-color);
}

.hint-content h1 {
  font-weight: normal;
}

.result-content p,
.hint-content p {
  font-size: 1.5rem;
  text-align: center;
  word-break: keep-all;
}

.hint-content p {
  font-size: 1.2rem;
}

summary {
  text-align: center;
  margin-bottom: 10px;
}
