:root {
  --main-bg-color: #23346f;
  --primary: #ffcd1d;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

#app {
  width: 100vw;
  height: 100vh;
  margin: auto;
  padding: 50px 10px;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  background-color: navy;

  overflow: hidden;
}

header,
main,
footer {
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  color: var(--primary);
}

.puzzle-board {
  position: relative;

  width: 90%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  border: 2px solid white;

  background-color: #ffffff33;
}

.puzzle-slot {
  position: relative;

  width: 100%;
  aspect-ratio: 1/1;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid white;
}

.controller {
  width: 100%;
  padding: 10px 0;

  border: none;
  border-radius: 20px;
  background-color: var(--primary);

  font-weight: 600;
}

.controller:disabled {
  color: #000000;
  background-color: #cccccc;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.puzzle-piece-container {
  height: 200px;
  margin: 20px auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.puzzle-container-slot {
  position: relative;
  width: 100px;

  border: none;

  background: radial-gradient(
    36.5% 36.5% at 50% 50%,
    rgba(255, 255, 255, 0.39) 0%,
    rgba(217, 217, 217, 0) 100%
  );
}

.puzzle-piece {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;

  cursor: move;
  width: 100px;
  height: 100px;
}

.puzzle-board .puzzle-piece {
  position: relative;
  top: 0;
  bottom: 0;
}

.dragged {
  opacity: 0.5;
}
