:root {
  --main-bg-color: #23346f;
  --primary: #ffcd1d;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

button {
  cursor: pointer;
}

#app {
  width: 100vw;
  height: 100vh;
  margin: auto;
  padding: 80px 10px;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  background-color: var(--main-bg-color);

  overflow: hidden;
}

header,
main,
footer {
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  color: var(--primary);
}

.description {
  font-size: 1rem;
}

.transparent-button {
  background-color: transparent;
  border: none;
}

.modal-button {
  position: fixed;
  top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  color: var(--primary);
}

.modal-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.star-sign-button {
  left: 25px;
}

.clue-button {
  right: 25px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: #ffffff33;
}

.modal-content {
  position: relative;

  width: 90vw;
  min-height: 50vh;

  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--main-bg-color);
}

.modal-close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  text-decoration: underline;
  font-size: 1rem;
  color: #ffffff;
}

.star-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.star-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.puzzle-board {
  position: relative;

  width: 100%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  border: 2px solid white;

  background-color: #ffffff33;
}

.puzzle-slot {
  position: relative;

  width: 100%;
  aspect-ratio: 1/1;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid white;
}

.controller {
  width: 100%;
  padding: 10px 0;

  border: none;
  border-radius: 20px;
  background-color: var(--primary);

  font-weight: 600;
}

.controller:disabled {
  color: #000000;
  background-color: #cccccc;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.puzzle-piece-container {
  height: 200px;
  width: 70%;
  margin: 20px auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.puzzle-container-slot {
  position: relative;
  width: 100px;
  margin: 0 auto;

  border: none;

  background: radial-gradient(
    36.5% 36.5% at 50% 50%,
    rgba(255, 255, 255, 0.39) 0%,
    rgba(217, 217, 217, 0) 100%
  );
}

.puzzle-piece {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;

  cursor: move;
  width: 100px;
  height: 100px;
}

.puzzle-piece-static {
  width: 80px;
  height: 80px;
}

.puzzle-board .puzzle-piece {
  position: relative;
}

.dragged {
  opacity: 0.5;
}

.result-content,
.hint-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.result-content p,
.hint-content p {
  font-size: 1.5rem;
  text-align: center;
  word-break: keep-all;
}

summary {
  text-align: center;
  margin-bottom: 10px;
}
